body,
html {
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin: 0 auto;
	padding: 0;
	background: #e1e3e4;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

img {
	border: medium none;
	outline: 0
}

a {
	color: #333;
	font-size: 13px;
	text-decoration: none
}

a:hover {
	text-decoration: underline;
	color: #e80000
}

h1 {
	font-size: 24px;
	font-weight: 400;
	margin: 0
}

h2,
h3 {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 400
}

h2 {
	font-size: 16px
}

button {
	cursor: pointer;
	border: none
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.list-kqmb li,
.txt-center {
	text-align: center
}

.ads {
	margin-top: 10px;
	margin-bottom: 5px
}

.btn-see-more {
    width: 100%;
    max-width: 300px;
    border-radius: 3px;
    padding: .5em;
    border: 1px solid #fff;
    display: block;
    margin: .5rem auto;
    cursor: pointer;
    color: #666;
    text-transform: uppercase;
    height: initial;
    background-color: #fff;
}

.main,
.nav .nav-horizontal {
	max-width: 1005px;
	margin: 0 auto
}

.clearfix:after,
.sharelike:after,
ul.linkcol2:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden
}

.firstlast-mb.fr,
.fr,
.icrss {
	float: right
}

.firstlast-mb.fl,
.fl,
.tab1 {
	float: left
}

ul {
	list-style: none outside none;
	margin: 0;
	padding: 0
}

.dsp-mobile,
.dspnone {
	display: none
}

.underline {
	text-decoration: underline
}

.pad0 {
	padding: 0
}

.box-detail,
.box-like,
.dudoan-rela,
.pad10 {
	padding: 10px
}

.mag0 {
	margin: 0
}

.magb10 {
	margin-bottom: 10px
}

.mag-r5 {
	margin-right: 5px
}

.mag-r15 {
	margin-right: 15px
}

.relative {
	position: relative
}

.absolute {
	position: absolute
}

.hidden {
	display: none
}

.block-center {
	display: block;
	text-align: center
}

.dspblock {
	display: inline-block
}

input[type=checkbox],
input[type=radio] {
	margin: 0;
	width: 13px;
	height: 13px
}
.colgiai th.first {
    width: 10%;
}

.one-city td.txt-giai {
    width: 70px;
    min-width: 60px;
}

.coltwocity th {
    width: 45%;
}

.colthreecity th {
    width: 30%;
}

.colfourcity th {
    width: 22.5%;
}

.colgiai tbody>tr:nth-of-type(odd) {
    background: #efefef;
}

.nobor {
	border: none
}

.f16,
.s16,
.s16 a {
	font-size: 16px
}

.s12 {
	font-size: 12px
}

.font-20 {
	font-size: 20px
}

.bold {
	font-weight: 700
}

.taskbar .main {
	font-size: 12px;
	padding: 5px
}

.taskbar {
	border-bottom: 1px solid #f3f3f3;
	background: #fbfbfb
}

.top-info {
	background: #fff
}

.top-info .main {
	padding: 5px;
	background: 0 0
}

.top-info .gr-gray {
	margin: 0;
	color: #333;
	padding: 2px 5px
}

.header {
	background: #fff;
	color: #fff;
	text-align: center
}

.logo {
	padding-top: 10px;
	text-align: left;
	font-size: 12px
}

a.txtlogo {
	color: #e80000;
	display: block;
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	line-height: 25px;
	font-weight: 700
}

a.txtlogo:hover {
	text-decoration: none;
	color: #f30
}

.ic {
	background: url(/css/images/icons.png) no-repeat left 0
}

.txtlink {
	color: #888
}

.txtlink a {
	font-size: 10px
}

.logo .txtlink {
	font-size: 10px;
	color: #333
}

.nav {
	background: #ed1c25
}

.nav-mobi {
	display: none
}

.nav ul li>a {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	display: block;
	padding: 0 10px;
	white-space: nowrap;
	line-height: 36px
}

.nav li.active,
.nav li:hover {
	position: relative
}

.nav li.active a,
.nav li:hover a {
	color: #e80000;
	text-shadow: none;
	background: #ffe500
}

.nav li:hover .menu-c2 {
	display: block
}

.tab1 a {
	white-space: nowrap
}

.menu-c2 {
	position: absolute;
	top: 33px;
	left: 0;
	min-width: 200px;
	background: #fff;
	border: 1px solid #f6dd00;
	padding: 10px;
	border-top: 2px solid #ffe500;
	display: none;
	z-index: 9999
}

.menu-c2 li {
	border-bottom: 1px dashed #e7e7e7;
	padding: 5px 0;
	line-height: 24px
}

.nav .menu-c2 li:not(.active) a {
	color: #333;
	text-shadow: none;
	text-transform: none;
	padding: 0;
	background: 0
}

.nav .menu-c2 li.active a {
	background: #f90;
	text-transform: none;
	color: #fff
}

.menu-c2 li.active a,
.menu-c2 li:hover a {
	color: #e80000
}

.arr-d {
	background-position: -91px -1252px;
	width: 36px;
	height: 36px;
	cursor: pointer
}

.bt-face,
.bt-gg,
.cllgin,
.col-l,
.col125,
.dientoan li span,
.ic-print,
.in-block,
.percent-33,
.supot-print,
span.ic-suport {
	display: inline-block;
	zoom: 1;
	vertical-align: top
}

.arr-d {
	display: none
}

.box-logan table,
.bullet h2,
.bullet ul li a,
.nav ul li a {
	font-weight: 700
}

.bullet ul li::before {
	background: url(/css/images/bulett5.png) 0 5px no-repeat;
	width: 10px;
	height: 15px;
	display: inline-block;
	content: "";
	vertical-align: middle
}

button.collapsed {
	float: left;
	background: #ce0d14;
	border: 1px solid #e15057;
	padding: 6px;
	position: relative;
	margin: 5px 0 5px 5px;
	-webkit-border-radius: 3px
}

.navbar-toggle .icon-bar {
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	display: block;
	height: 2px;
	width: 22px;
	background: #fff
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 3px
}

.linkway .main {
	padding: 5px 0
}

.linkway a:first-child {
	padding-left: 5px
}

.linkway .main a:hover {
	text-decoration: underline
}

.breadcrumb ol {
	list-style-type: none;
	word-wrap: break-word;
	padding-left: 0;
	margin: 0
}

.breadcrumb ol li {
	display: inline;
	word-wrap: break-word;
	padding-left: 0
}

.breadcrumb ol li a {
	color: #000;
	padding-left: 0
}

.breadcrumb {
	padding: 0;
	line-height: 12px
}

.box,
.conten-right {
	background: #fff;
	margin-bottom: 10px
}

.box-html {
    padding: 5px 10px;
}

.control-panel {
    display: block;
    padding: .5em;
    text-align: center;
    background: #fb9b34;
    color: #fff;
    font-weight: 700;
}

.bg_gray {
	padding: 5px;
	text-align: center;
	border: 1px solid #e5e2dc;
	border-bottom: 0
}

.bg_gray,
.tab1 li.active {
	background-color: #f3f3f1;
	background-image: -moz-linear-gradient(center top, #fafafa, #f3f3f1);
	background-repeat: repeat-x;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f3f3f1));
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0
}

.opt_date_full {
	background: #fff;
	border: 1px solid #d9d3cb;
	position: relative;
	color: #f30;
	line-height: 26px
}

.opt_date_full input {
	width: 105px;
	font-weight: 700;
	color: #f30;
	height: auto;
	font-size: 15px
}

.opt_date_full .ic-next,
.opt_date_full .ic-pre {
	background: url(/css/images/icons.png) no-repeat -21px -1027px;
	width: 9px;
	height: 13px;
	top: 6px;
	position: absolute;
	opacity: .5
}

.opt_date_full .ic-next {
	background-position: -68px -1027px;
	right: 6px
}

.opt_date_full .ic-next:hover {
	background-position: -53px -1027px;
	opacity: 1
}

.opt_date_full .ic-pre {
	left: 6px
}

.opt_date_full .ic-pre:hover {
	background-position: -35px -1027px;
	opacity: 1
}

.link-du-doan a {
	display: inline-block;
	margin: 0 3px 5px
}

.link-du-doan a img {
	vertical-align: bottom;
	margin: 0 3px 4px 0
}

.clda-day td.last a,
.clnote,
.clred,
.db td,
.giai8 td,
.note li {
	color: #e80000
}

.mo-thuong-ngay {
	margin-bottom: 10px;
	background: #fff
}

.mo-thuong-ngay .colgiai tbody>tr:nth-of-type(2n+1) {
	background: #fff
}

.mo-thuong-ngay td {
	line-height: 22px
}

.colgiai {
	border-right: none;
	margin-bottom: 0
}

.colgiai th {
	font-weight: 400
}

.colgiai tbody>tr:nth-of-type(odd) {
	background: #efefef
}

.colgiai td div {
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	padding: 2px 0;
	margin: auto;
	display: block
}

.colgiai .g8 div {
	font-size: x-large;
	color: #e80000
}

.colgiai .gdb div {
	color: #e80000;
	font-size: 18px
}

table th em {
	font-weight: 400
}

table td,
table th {
	text-align: center;
	padding: 5px
}

table {
	border-right: 1px solid #efefef;
	margin-bottom: 20px
}

table td {
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	font-size: 14px
}

.colgiai td,
table.kqmb td {
	border-color: #ccc
}

.tab-panel {
	padding: 0;
	margin: 0;
	background: 0 0;
	position: relative
}

.tab-panel:after {
	content: "";
	display: block;
	background: #fff2bc;
	height: 7px;
	width: 100%;
	top: 100%;
	position: absolute;
	z-index: 10
}

.tab-panel * {
	position: relative;
	word-spacing: normal
}

.tab-panel+h2 {
	border-radius: 0
}

.tab-panel li {
	margin-right: .9em;
	display: inline-block;
	list-style: none;
	background: #eee;
	border-radius: 5px 5px 0 0;
	z-index: 0;
	line-height: 24px
}

.tab-panel li a {
	color: inherit;
	display: block;
	padding: .5em .6em .5em .8em
}

.tab-panel li.active {
	color: #fff;
	z-index: 1
}

.tab-panel li a:hover {
	color: #ec891d
}

.tab-panel li.active {
	background: #fff2bc;
	color: #333
}

.tab-panel li:after {
	content: "";
	display: block;
	position: absolute;
	right: -5px;
	top: 2px;
	border-radius: 0 5px 0 0;
	transform: rotate(-20deg);
	height: 110%;
	width: 10px;
	background: #eee;
	z-index: -1
}

.tab-panel li.active:after {
	background: #fff2bc
}

.tit-mien,
.title-bor {
	padding: 10px 5px;
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	background: #fff2bc;
	text-align: center
}

.title-r {
	background-color: #f60;
	color: #fff;
	padding: 10px 5px;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0
}

.kq-title {
	font-weight: 700
}

.kq-title a,
.title-a {
	color: red;
	text-decoration: underline;
	font-size: 16px;
	font-weight: 700
}

.bor2cl,
.col-2 .col420,
.four-city,
.one-city,
.three-city,
.two-city {
	border: 1px solid #ccc
}

.four-city,
.one-city,
.three-city,
.two-city {
	margin: 5px
}

.one-city table {
	margin-bottom: 0
}

.one-city td {
	height: 20px;
	line-height: 20px;
	padding: 8px 5px
}

table.kqmb th {
	padding: 10px 5px
}

.four-city tr:last-child td,
.three-city tr:last-child td,
.two-city tr:last-child td,
table.kqmb tr:last-child td {
	border-bottom: none
}

table.kqmb td:last-child {
	border-right: none
}

table.kqmb td.number {
	font-size: 20px
}

table.kqmb .db td.number,
table.kqmb .giai8 td.number {
	font-size: 24px
}

.imgloadig {
	background: url(/css/images/loader-red.gif) no-repeat left 0;
	display: inline-block;
	width: 20px;
	height: 20px
}

.madb .imgloadig {
	vertical-align: middle
}

.madb td {
	font-size: 13px;
	font-style: italic
}

.madb td b {
	color: #ed0303
}

.gr-yellow,
table th {
	color: #333
}

.four-city .colgiai td,
.three-city .colgiai td,
.two-city .colgiai td {
	padding: 0
}

.four-city .colgiai td div,
.three-city .colgiai td div,
.two-city .colgiai td div {
	padding: 3px 5px
}

.firstlast-mb td:not(first-child):hover,
.firstlast-mn td:not(first-child):hover,
.four-city td:not(.txt-giai) div:hover,
.one-city td.number:hover,
.three-city td:not(.txt-giai) div:hover,
.two-city td:not(.txt-giai) div:hover {
	background-color: #ffbf00
}

.conten-right li {
	padding: 5px;
	border-bottom: 1px dotted #eee
}

.conten-right .list-news li {
	padding: 5px
}

.conten-right li li {
	padding: 3px 0;
	border: 0
}

.conten-right a {
	color: #555
}

.conten-right .title-r a,
.conten-right h2 a,
.conten-right h3 a {
	font-size: 12px;
	color: #fff
}

.see-more {
	margin: .5em
}

.see-more a:hover {
	text-decoration: underline
}

.list-html-link li {
	list-style: disc inside;
	padding: 3px 0
}

.see-more ul.list-html-link {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	border-collapse: separate;
	margin-block-start: 0;
	margin-block-end: .5rem
}

.see-more ul.list-html-link li {
	flex: 1 45%;
	padding: .5em 0 0 0
}

.cate-news li {
	padding: 10px 0;
	border-bottom: 1px dashed #dcdcdc
}

.cate-news li img {
	max-width: 120px
}

.cate-news li h3 a {
	font-size: 16px
}

.cate-news ul {
	padding: 0 5px;
	margin-bottom: 10px
}

.cate-news h3 {
	margin-bottom: 5px
}

.cont-detail a,
.linkin {
	font-size: 15px;
	color: red;
	font-weight: 700
}

.cont-detail ul {
	margin-block-end: 1em;
	padding-inline-start: 40px;
	list-style: initial
}

.box-detail {
	line-height: 20px;
	font-size: 14px
}

.box-detail img,
.cont-detail img {
	max-width: 500px
}

.date {
	font-size: 11px;
	color: #999
}

p.date {
	margin: 5px 0
}

h3 .date {
	margin-left: 5px
}

.col-firstlast {
	margin: 5px 5px 0;
	padding-bottom: 5px
}

.col-firstlast table {
	border-left: 1px solid #efefef;
	border-top: 1px solid #efefef;
	margin-bottom: 0
}

.col-firstlast th {
	border-bottom-color: #efefef
}

.gr-yellow,
table th {
	background-color: #eee;
	background-image: -moz-linear-gradient(top, #fafafa, #eee);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#eee));
	background-image: -webkit-linear-gradient(top, #fafafa, #eee);
	background-image: -o-linear-gradient(top, #fafafa, #eee);
	background-image: linear-gradient(to bottom, #fafafa, #eee);
	background-repeat: repeat-x
}

table.firstlast-mb {
	border-top: none;
	font-weight: 700;
	border-right: none
}

.firstlast-mb.fl,
.firstlast-mb.fr {
	width: 49%
}

.firstlast-mb.fl td:last-child,
.firstlast-mb.fl th:last-child {
	text-align: left;
	padding-left: 10px
}

.firstlast-mb.fr td:first-child,
.firstlast-mb.fr th:first-child {
	text-align: right;
	padding-right: 10px
}

.firstlast-mb.fl {
	margin-right: 1%
}

.firstlast-mb.fr {
	margin-left: 1%
}

.footer {
	background: #f3f3f3
}

.footer .main {
	border-top: 1px solid #fff;
	padding: 10px 0 5px;
	text-align: center
}

a.item_sublink {
	color: #000;
	display: inline-block;
	border-radius: 30px;
	background: #e6d48f;
	padding: .35em .5em;
	margin: 2px 0;
	font-weight: 700;
	text-decoration: none
}

.hdc-csi_top {
	width: 970px;
	height: 90px
}

.hdc-csi_t {
	width: 320px;
	height: 280px
}

.hdc-csi_article {
	width: 336px;
	height: 280px;
	display: inline-block
}

.hdc-csi {
	width: 320px;
	height: 100px
}

.hdc-csi_b {
	width: 550px;
	height: 100px
}

.hdc-csi_square {
	width: 336px;
	height: 280px;
	margin: 0 auto;
	display: inline-block
}

.ui-datepicker-trigger {
	cursor: pointer
}

.hdc-csi_link {
	width: 100%;
	display: inline-block
}

.hdc-csi_600 {
	width: 300px;
	height: 600px
}

.hdc-csi_header {
	margin: auto;
	width: 970px;
	height: 90px
}

@media(max-width:640px) {
	.hdc-csi_600 {
		width: 336px;
		height: 280px
	}
	.hdc-csi_50_mobi {
		display: none
	}
	.hdc-csi_square_mobi {
		width: 320px;
		height: 250px
	}
	.hdc-csi_square_desktop {
		width: 320px;
		height: 250px
	}
	.bnnsroll-r {
		display: none
	}
	.bnnsroll-l {
		display: none
	}
	.hdc-csi_header {
		margin: auto;
		width: 320px;
		height: 100px
	}
	.hdc-csi_t {
		width: 320px;
		height: 280px
	}
	.hdc-csi_b {
		width: 320px;
		height: 100px
	}
	.hdc-csi_square {
		width: 336px;
		height: 280px
	}
	.hdc-csi_overlay {
		width: 320px;
		height: 50px;
		color: #fff;
		left: 0;
		width: 100%;
		bottom: 0;
		position: fixed;
		z-index: 100;
		opacity: 1
	}
}

@media(max-width:1089px) and (min-width:641px) {
	.hdc-csi_600 {
		width: 160px;
		height: 600px
	}
	.hdc-csi_link {
		display: none
	}
	.hdc-csi_50_mobi {
		width: 720px;
		height: 50px
	}
	.hdc-csi_square_mobi {
		display: none
	}
	.hdc-csi_square_desktop {
		width: 320px;
		height: 250px
	}
	.hdc-csi_t {
		width: 550px;
		height: 280px
	}
	.hdc-csi_b {
		width: 550px;
		height: 100px
	}
	.hdc-csi_overlay {
		display: none
	}
}

@media(max-width:320px) {
	.hdc-csi_600 {
		width: 300px;
		height: 250px
	}
	.hdc-csi_article {
		width: 300px;
		height: 250px
	}
	.hdc-csi_square {
		width: 300px;
		height: 250px
	}
}

@media(min-width:1024px) {
	.col-l {
		width: 557px
	}
	.col-center {
		width: 219px;
		padding: 0 5px 0 0;
		float: left
	}
	.col-right {
		width: 219px;
		padding: 0 0 0 5px;
		float: right
	}
}

@media(min-width:1090px) {
	.col-right {
		width: 300px
	}
	.main,
	.nav .nav-horizontal {
		max-width: 1090px
	}
	.hdc-csi_600 {
		width: 300px;
		height: 600px
	}
}

@media(max-width:1023px) {
	.nav-mobi {
		display: block
	}
	.header ul.clearfix {
		padding: 0 5px
	}
	.col-l {
		padding: 0
	}
	.four-city,
	.three-city,
	.two-city {
		margin: 0
	}
	.logo {
		padding: 0
	}
	.logo .txtlogo {
		font-size: 18px;
		color: #e80000;
		padding: 0;
		line-height: 14px
	}
	.bannertop,
	.bookmark,
	.header li.banner468x60,
	.icrss,
	.loguser strong,
	.top-info .banner468x60 {
		display: none
	}
	.top-info .main {
		background: #fff
	}
	.nav-horizontal {
		display: none;
		position: absolute;
		z-index: 9999;
		width: 100%
	}
	.header div.fl a,
	.logo a,
	.txtlink {
		line-height: 14px
	}
	.logo.fl {
		float: none
	}
	.logo.fl .txtlogo,
	.logo.fl h1 {
		float: left
	}
	.txtlink {
		float: right
	}
	.header .ic-suport {
		background-position: -24px -841px
	}
	.nav ul li {
		float: none;
		background: #fff;
		border-bottom: 1px solid #f3f3f3
	}
	.nav .nav-mobile li {
		border: none
	}
	.nav ul li.active,
	.nav ul li:hover {
		background: #f90
	}
	.nav #nav-more li.active,
	.nav #nav-more li:hover {
		background: #fff
	}
	.nav ul li.active a,
	.nav ul li:hover a {
		background: 0 0;
		color: #fff
	}
	.nav #nav-more li.active a,
	.nav #nav-more li:hover a {
		color: #333
	}
	.nav ul li.active .menu-c2 {
		display: block
	}
	.nav ul li a {
		color: #333;
		text-shadow: none
	}
	.arr-d,
	.nav ul li:hover .menu-c2 {
		display: block
	}
	.nav ul li:hover .menu-c2 a {
		color: #333
	}
	.nav ul li:hover .menu-c2 a:hover {
		color: #e80000
	}
	.nav ul li .menu-c2 {
		border: 0;
		padding: 0;
		display: none;
		width: 100%;
		position: inherit;
		clear: both;
		top: 0
	}
	.nav ul li .menu-c2 a {
		background: 0
	}
	.nav ul li .menu-c2 li,
	.nav ul li .menu-c2 li.active {
		background: 0;
		padding: 0 5px 0 20px;
		border-bottom: 1px dashed #efefef
	}
	.nav .nav-mobile li {
		float: left;
		background: 0 0;
		width: 17%;
		text-align: center
	}
	.nav .nav-mobile li a {
		font-size: 12px;
		padding: 0;
		color: #fff
	}
	.nav .nav-mobile .nav-horizontal {
		background: #fff;
		right: 0
	}
	.nav .nav-mobile .nav-horizontal li {
		width: 100%
	}
	.col-center {
		width: 100%;
		margin: 0;
		border-left: 0;
		border-right: 0
	}
	.col-l,
	.col-right {
		width: 100%;
		margin-right: 0;
		border-left: 0;
		border-right: 0
	}
	.col-center,
	.col-right {
		padding: 0
	}
	.col-center .box,
	.col-right .box {
		box-shadow: none;
		border: 0
	}
	.col-right .conten-right.link-hay {
		max-height: none
	}
	.doithuong div.table-cell img.mag-r15 {
		width: 90px
	}
	.form-login,
	.well-login {
		width: 100%;
		padding-left: 0;
		padding-right: 0
	}
	.xshomnay {
		margin-bottom: 0;
		border-bottom: none
	}
	.img-left {
		float: left;
		width: 60px
	}
	.link-hay .magl {
		margin-left: 70px
	}
	#nav-horizontal {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 100;
		width: 85vw;
		box-shadow: 0 0 20px rgba(0, 0, 0, .5);
		max-width: 320px;
		background: #fff;
		overflow-y: scroll
	}
}

@media(max-width:640px) {
	.dsp-mobile {
		display: block
	}
	.dsp-desktop {
		display: none
	}
	.taskbar .main {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap
	}
	.tab-panel li {
		width: 25%;
		border: 1px solid #ddd;
		border-radius: 0;
		box-sizing: border-box;
		margin-right: 0;
		margin-bottom: -1px;
		background: #fff
	}
	.tab-panel li:after {
		display: none
	}
	.tab-panel li a {
		padding: 0;
		text-align: center;
		width: 100%
	}
	.see-more ul.list-html-link li {
		flex: 1 100%
	}
	.see-more ul.list-html-link.two-column li {
		flex: 1 50%
	}
	.conect_out {
		display: none
	}
}